defaults: &defaults
  adapter: mysql2
  encoding: utf8
  pool: 5
  timeout: 5000

development:
  <<: *defaults
  database: easygift_dev
  username: 
  password: 

test: &test
  <<: *defaults
  database: easygift_test
  username: 
  password: 

production:
  <<: *defaults
  database: easygift_prod
  username: 
  password: 
